body{
  margin:auto;
  font-family:Helvetica;
  text-align:center;
}
h1{
  font-size: 70px;
}
.footer{
  text-align:left;
  font-size:11px;
  background-color:dimgray;
  color: white;
}
.menu{
  font-size:18px;
}
h4{
  font-size: 23px;
  font-weight: bold;
}
p{
  font-size: 14px;
}
h1,
.menu,
#newyork{
  color: white;
}
h3{
  font-size:32px;

}
#newyork{
  background-image:url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png)
}
.picture{
  background-image: url(https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png);
  background-size:cover;
}
li{
  list-style: none;
}
a{
 color: white;

}
